Repository elastisys/compliantkubernetes-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: avoid-old-website-urls, avoid-old-names, generate-cypress-tests, generate-template-tests

avoid-old-website-urls:
  name: Avoid old URLs (https://elastisys.io/compliantkubernetes)
  entry: elastisys.io/compliantkubernetes
  language: pygrep

avoid-old-names:
  name: Use Welkin consistently
  entry: (Compliant[ ]Kubernetes|C[kK]8[sS][^_]|Complaint)
  language: pygrep

generate-cypress-tests:
  name: generate cypress tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - cypress

generate-template-tests:
  name: generate template tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - template

apps: migration doc to uninstall falco exporter
  migration/v0.44/README.md
Due: avoid-old-website-urls, avoid-old-names

updated migration script
  migration/v0.44/apply/20-uninstall-falco-exporter.sh
Due: none

apps: drop falco exporter in favor of falco metrics
  config/common-config.yaml
  config/schemas/config.yaml
  docs/sbom.md
  docs/sbom.yaml
  helmfile.d/charts/grafana-dashboards/dashboards/falco-dashboard.json
  helmfile.d/stacks/falco.yaml.gotmpl
  helmfile.d/state.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/CHANGELOG.md
  helmfile.d/upstream/falcosecurity/falco-exporter/Chart.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/README.gotmpl
  helmfile.d/upstream/falcosecurity/falco-exporter/README.md
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/NOTES.txt
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/_helpers.tpl
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/daemonset.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/grafana-dashboard.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/podsecuritypolicy.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/prometheusrule.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/role.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/rolebinding.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/secret-certs.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/securitycontextconstraints.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/server-secret-certs.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/service.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/serviceaccount.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/servicemonitor.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/templates/tests/test-connection.yaml
  helmfile.d/upstream/falcosecurity/falco-exporter/values.yaml
  helmfile.d/upstream/index.yaml
  helmfile.d/values/falco/falco-common.yaml.gotmpl
  helmfile.d/values/falco/falco-exporter.yaml.gotmpl
  helmfile.d/values/networkpolicies/common/falco.yaml.gotmpl
  helmfile.d/values/podsecuritypolicies/common/falco.yaml.gotmpl
  tests/unit/pods-ready.bats.yaml
Due: avoid-old-website-urls, avoid-old-names

apps: upgrade falco to v40
  helmfile.d/upstream/falcosecurity/falco/CHANGELOG.md
  helmfile.d/upstream/falcosecurity/falco/Chart.lock
  helmfile.d/upstream/falcosecurity/falco/Chart.yaml
  helmfile.d/upstream/falcosecurity/falco/README.gotmpl
  helmfile.d/upstream/falcosecurity/falco/README.md
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/CHANGELOG.md
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/Chart.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/README.md
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/dashboards/falcosidekick-grafana-dashboard.json
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/dashboards/falcosidekick-loki-dashboard.json
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/configmap-grafana-dashboard.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/falcosidekick-loki-dashboard-grafana.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/prometheusrule.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/service.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/values.yaml
  helmfile.d/upstream/falcosecurity/falco/templates/_helpers.tpl
  helmfile.d/upstream/falcosecurity/falco/templates/configmap.yaml
  helmfile.d/upstream/falcosecurity/falco/templates/pod-template.tpl
  helmfile.d/upstream/falcosecurity/falco/tests/unit/containerEnginesConfiguration_test.go
  helmfile.d/upstream/falcosecurity/falco/values.yaml
  helmfile.d/upstream/index.yaml
  helmfile.d/values/falco/falco-common.yaml.gotmpl
Due: avoid-old-website-urls, avoid-old-names

enable type none for falco rules
  config/common-config.yaml
  config/sc-config.yaml
  config/schemas/config.yaml
  config/wc-config.yaml
Due: none

enabled falco alerts
  migration/v0.44/README.md
Due: avoid-old-website-urls, avoid-old-names

apps: upgrade falco helm chart to v4.17.0 with appversion v0.39.2
  helmfile.d/upstream/falcosecurity/falco/CHANGELOG.md
  helmfile.d/upstream/falcosecurity/falco/Chart.lock
  helmfile.d/upstream/falcosecurity/falco/Chart.yaml
  helmfile.d/upstream/falcosecurity/falco/README.gotmpl
  helmfile.d/upstream/falcosecurity/falco/README.md
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/CHANGELOG.md
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/Chart.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/README.md
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/configmap-ui.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/deployment-ui.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/prometheusrule.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/secrets-ui.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/secrets.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/templates/service-ui.yaml
  helmfile.d/upstream/falcosecurity/falco/charts/falcosidekick/values.yaml
  helmfile.d/upstream/falcosecurity/falco/dashboards/falco-dashboard.json
  helmfile.d/upstream/falcosecurity/falco/templates/_helpers.tpl
  helmfile.d/upstream/falcosecurity/falco/templates/falco-dashboard-grafana.yaml
  helmfile.d/upstream/falcosecurity/falco/templates/pod-template.tpl
  helmfile.d/upstream/falcosecurity/falco/templates/service.yaml
  helmfile.d/upstream/falcosecurity/falco/templates/serviceMonitor.yaml
  helmfile.d/upstream/falcosecurity/falco/tests/unit/chartInfo.go
  helmfile.d/upstream/falcosecurity/falco/tests/unit/driverLoader_test.go
  helmfile.d/upstream/falcosecurity/falco/tests/unit/grafanaDashboards_test.go
  helmfile.d/upstream/falcosecurity/falco/tests/unit/k8smetacollectorDependency_test.go
  helmfile.d/upstream/falcosecurity/falco/tests/unit/metricsConfig_test.go
  helmfile.d/upstream/falcosecurity/falco/tests/unit/serviceMonitorTemplate_test.go
  helmfile.d/upstream/falcosecurity/falco/tests/unit/serviceTemplate_test.go
  helmfile.d/upstream/falcosecurity/falco/values-k8saudit.yaml
  helmfile.d/upstream/falcosecurity/falco/values-syscall-k8saudit.yaml
  helmfile.d/upstream/falcosecurity/falco/values.yaml
  helmfile.d/upstream/index.yaml
Due: avoid-old-website-urls, avoid-old-names

docs: Improve readme steps for installation of apps
  README.md
Due: avoid-old-website-urls, avoid-old-names

update log-manager image (#2428)
  helmfile.d/charts/log-manager/Chart.yaml
  helmfile.d/charts/log-manager/values.yaml
  images/log-manager/Dockerfile
Due: none

Add changelog for release v0.44.0
  changelog/0.44.md
Due: avoid-old-website-urls, avoid-old-names

Fix: clean up migration docs
  migration/v0.44/README.md
  migration/v0.44/apply/30-uninstall-falco-exporter.sh
  migration/v0.44/apply/40-migrate-gpu-operator-ns.sh
  migration/v0.44/apply/50-opensearch-backup.sh
Due: avoid-old-website-urls, avoid-old-names

Fix: change default calico-accountant backend to nftables
  changelog/0.44.md
  config/k8s-installers/kubespray/common-config.yaml
Due: avoid-old-website-urls, avoid-old-names

apps: upgrade cert-manager helm chart to v1.17.1
  helmfile.d/upstream/index.yaml
  helmfile.d/upstream/jetstack/cert-manager/Chart.yaml
  helmfile.d/upstream/jetstack/cert-manager/README.md
  helmfile.d/upstream/jetstack/cert-manager/templates/NOTES.txt
  helmfile.d/upstream/jetstack/cert-manager/templates/_helpers.tpl
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-config.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-deployment.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-poddisruptionbudget.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-service.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/controller-config.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/crds.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/deployment.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/extras-objects.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/networkpolicy-egress.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/networkpolicy-webhooks.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/poddisruptionbudget.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/podmonitor.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/service.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/serviceaccount.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/startupapicheck-job.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/startupapicheck-rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-config.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-deployment.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-mutating-webhook.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-poddisruptionbudget.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-service.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-validating-webhook.yaml
  helmfile.d/upstream/jetstack/cert-manager/values.schema.json
  helmfile.d/upstream/jetstack/cert-manager/values.yaml
  helmfile.d/values/cert-manager.yaml.gotmpl
Due: avoid-old-website-urls, avoid-old-names

Fix: make gatekeeper script executable
  migration/v0.44/apply/20-gatekeeper-crds.sh
Due: none

Fix: static htpasswd for kubeapi metrics
  bin/init.bash
  helmfile.d/charts/kubeapi-metrics/templates/secret-auth.yaml
  helmfile.d/charts/kubeapi-metrics/values.yaml
  helmfile.d/values/kubeapi-metrics.yaml.gotmpl
Due: none

add json schema validation for newly added autoscaledNodeGroupAlerts configuration
  config/schemas/config.yaml
Due: none

fixup: fix k8s system key
  config/sc-config.yaml
  config/schemas/config.yaml
Due: none

Fix: add label to cluster selector in nginx dashboard
  helmfile.d/charts/grafana-dashboards/dashboards/nginx-dashboard.json
Due: none

Fix: re-add cluster selector and logs panel in falco dashboard
  helmfile.d/charts/grafana-dashboards/dashboards/falco-dashboard.json
Due: none

Fix: update e2e tests
  tests/common/cypress/grafana.js
  tests/end-to-end/grafana/dashboards.cy.js
Due: generate-cypress-tests

typo fixed and changed the expression to get node/cluster labels
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-system-kubelet.yaml
Due: none

Fix: backups dashboard incorrect off-site state with syncDefaultBuckets
  helmfile.d/values/grafana/grafana-dashboards.yaml.gotmpl
Due: none

fixup: add falco
  config/sc-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/prometheus-alerts/values.yaml
Due: none

fixup: add note in schema for which groups use upstream runbooks
  config/schemas/config.yaml
Due: none

fixup: add missing templating for ThanosQueryHttpRequestQueryRangeErrorRateHigh
  helmfile.d/values/prometheus-alerts-sc.yaml.gotmpl
Due: none

Fix: Upgrade OpenSearch and OpenSearch dashboards to v2.18
  helmfile.d/charts/opensearch/securityadmin/values.yaml
  helmfile.d/upstream/index.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/CHANGELOG.md
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/Chart.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/templates/deployment.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/CHANGELOG.md
  helmfile.d/upstream/opensearch-project/opensearch/Chart.yaml
  helmfile.d/upstream/opensearch-project/opensearch/README.md
  helmfile.d/upstream/opensearch-project/opensearch/ci/ci-ingress-class-name-values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/ci/ci-rbac-enabled-values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/ci/ci-values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/serviceMonitor-secret.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/serviceMonitor.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/statefulset.yaml
  helmfile.d/upstream/opensearch-project/opensearch/values.yaml
Due: avoid-old-website-urls, avoid-old-names

fixup: add runbookUrls to wc
  config/common-config.yaml
  config/sc-config.yaml
  helmfile.d/stacks/monitoring-prometheus.yaml.gotmpl
  helmfile.d/values/prometheus-alerts-runbook-urls.yaml.gotmpl
  helmfile.d/values/prometheus-alerts-sc.yaml.gotmpl
Due: none

fixup: template the template
  helmfile.d/values/prometheus-alerts-runbook-urls.yaml.gotmpl
Due: none

fixup: remove unused variables
  helmfile.d/values/prometheus-alerts-runbook-urls.yaml.gotmpl
Due: none

Fix: Update welcome dashboards
  helmfile.d/charts/grafana-dashboards/files/welcome.md
  helmfile.d/charts/opensearch/configurer/files/dashboards-resources/welcome.md
Due: avoid-old-website-urls, avoid-old-names

Fix: Add manual changelog entries
  changelog/0.44.md
Due: avoid-old-website-urls, avoid-old-names

fixup: remove unused defaultRules.runbookUrl value
  helmfile.d/charts/prometheus-alerts/values.yaml
Due: none

apps: helm/trivy-operator 0.25.0
  helmfile.d/upstream/aquasecurity/trivy-operator/Chart.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/README.md
  helmfile.d/upstream/aquasecurity/trivy-operator/crds/aquasecurity.github.io_clustercompliancereports.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/crds/aquasecurity.github.io_clustervulnerabilityreports.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/crds/aquasecurity.github.io_vulnerabilityreports.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/configmaps/operator.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/configmaps/policies.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/cis-1.23.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/eks-cis-1.4.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/k8s-cis-1.23.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/k8s-nsa-1.0.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/k8s-pss-baseline-0.1.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/k8s-pss-restricted-0.1.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/nsa-1.0.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/specs/rke2-cis-1.24.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/templates/trivy-server/statefulset.yaml
  helmfile.d/upstream/aquasecurity/trivy-operator/values.yaml
  helmfile.d/upstream/index.yaml
Due: avoid-old-website-urls, avoid-old-names

fixup: add schema definitions
  config/schemas/config.yaml
Due: none

fixup: move schema definitions to runbookUrls
  config/schemas/config.yaml
Due: none

all: helm/trivy-operator 0.25.0 upgrade
  helmfile.d/values/trivy/trivy-operator.yaml.gotmpl
  migration/v0.45/README.md
  migration/v0.45/apply/00-template.sh
  migration/v0.45/apply/10-trivy-operator.sh
  migration/v0.45/apply/80-apply.sh
  migration/v0.45/prepare/00-template.sh
  migration/v0.45/prepare/50-init.sh
Due: avoid-old-website-urls, avoid-old-names

apps: add trivy-operator mirror to falco trusted registries
  helmfile.d/values/falco/falco-common.yaml.gotmpl
Due: none

fixup: added links to public docs
  config/schemas/config.yaml
  helmfile.d/charts/gatekeeper/templates/policies/reject-pod-without-controller.rego
Due: none

Path conditions:
  avoid-old-website-urls: any of: .*[.]md$
  avoid-old-names: any of: .*[.]md$, but not: ^changelog/0.43.md$
  generate-cypress-tests: any of: .*\.cy.js
  generate-template-tests: any of: .*\.bats.gotmpl
