Repository elastisys/compliantkubernetes-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: avoid-old-website-urls, avoid-old-names, generate-cypress-tests, generate-template-tests

avoid-old-website-urls:
  name: Avoid old URLs (https://elastisys.io/compliantkubernetes)
  entry: elastisys.io/compliantkubernetes
  language: pygrep

avoid-old-names:
  name: Use Welkin consistently
  entry: (Compliant[ ]Kubernetes|C[kK]8[sS][^_]|Complaint)
  language: pygrep

generate-cypress-tests:
  name: generate cypress tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - cypress

generate-template-tests:
  name: generate template tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - template

fixup: define group and alertname
  config/schemas/config.yaml
Due: none

bin: Allow subnet in update-ips
  bin/update-ips.bash
  tests/unit/general/bin-update-ips-subnet.bats
Due: none

Improve sc -> wc fallback TODO comment
  bin/update-ips.bash
Due: none

Add TODO comment pointing out where to add support for more CAPI providers
  bin/update-ips.bash
Due: none

WIP
  helmfile.d/charts/crossplane-packages/templates/configuration-opensearch.yaml
  helmfile.d/charts/crossplane-packages/templates/provider-kubernetes.yaml
  modules/hack/log-demo.bash
  modules/opensearch/apis/composition.yaml
Due: none

hack: avoid conflict with existing worktree on main branch
  modules/hack/test.bash
Due: none

scripts: Only uninstall with local environment if local cluster exist
  scripts/clean-sc.sh
  scripts/clean-wc.sh
Due: none

apps: use upstream servicemonitor for cert-manager
  helmfile.d/charts/prometheus-servicemonitor/templates/cert-monitor.yaml
  helmfile.d/charts/prometheus-servicemonitor/values.yaml
  helmfile.d/values/cert-manager.yaml.gotmpl
  helmfile.d/values/networkpolicies/common/cert-manager.yaml.gotmpl
  helmfile.d/values/sc-servicemonitor.yaml.gotmpl
  helmfile.d/values/wc-servicemonitor.yaml.gotmpl
Due: none

apps: change LessKubeletsThanNodes alerts to KubeletDownForxm and split for autoscaled nodes
  config/common-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-system-kubelet.yaml
  helmfile.d/charts/prometheus-alerts/values.yaml
  helmfile.d/values/kube-prometheus-stack-sc.yaml.gotmpl
  helmfile.d/values/kube-prometheus-stack-wc.yaml.gotmpl
  helmfile.d/values/prometheus-alerts-sc.yaml.gotmpl
  helmfile.d/values/prometheus-user-alerts-wc.yaml.gotmpl
Due: none

apps: update cert-manager stack to need kps
  helmfile.d/stacks/cert-manager.yaml.gotmpl
Due: none

apps sc: Fixed s3 size alert to not double count postgres buckets
  helmfile.d/charts/prometheus-alerts/templates/alerts/daily-checks.yaml
Due: none

apps-sc: add policy to reject local storage emptydir
  config/common-config.yaml
  config/k8s-installers/capi/wc-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/gatekeeper/constraints/templates/reject-local-storage-empty-dir/constraint.yaml
  helmfile.d/charts/gatekeeper/constraints/values.yaml
  helmfile.d/charts/gatekeeper/templates/policies/reject-local-storage-empty-dir.rego
  helmfile.d/charts/gatekeeper/templates/policies/tests/reject-local-storage-empty-dir.rego
  helmfile.d/charts/gatekeeper/templates/templates/reject-local-storage-empty-dir/template.yaml
  helmfile.d/values/gatekeeper/constraints.yaml.gotmpl
Due: none

apps: cert-manager helm chart upgraded to v1.17.1
  helmfile.d/charts/prometheus-servicemonitor/templates/cert-monitor.yaml
  helmfile.d/charts/prometheus-servicemonitor/values.yaml
  helmfile.d/stacks/cert-manager.yaml.gotmpl
  helmfile.d/upstream/index.yaml
  helmfile.d/upstream/jetstack/cert-manager/Chart.yaml
  helmfile.d/upstream/jetstack/cert-manager/README.md
  helmfile.d/upstream/jetstack/cert-manager/templates/NOTES.txt
  helmfile.d/upstream/jetstack/cert-manager/templates/_helpers.tpl
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-config.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-deployment.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-poddisruptionbudget.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/cainjector-service.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/controller-config.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/crds.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/deployment.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/extras-objects.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/networkpolicy-egress.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/networkpolicy-webhooks.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/poddisruptionbudget.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/podmonitor.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/service.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/serviceaccount.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/startupapicheck-job.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/startupapicheck-rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-config.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-deployment.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-mutating-webhook.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-poddisruptionbudget.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-rbac.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-service.yaml
  helmfile.d/upstream/jetstack/cert-manager/templates/webhook-validating-webhook.yaml
  helmfile.d/upstream/jetstack/cert-manager/values.schema.json
  helmfile.d/upstream/jetstack/cert-manager/values.yaml
  helmfile.d/values/cert-manager.yaml.gotmpl
  helmfile.d/values/networkpolicies/common/cert-manager.yaml.gotmpl
  helmfile.d/values/sc-servicemonitor.yaml.gotmpl
  helmfile.d/values/wc-servicemonitor.yaml.gotmpl
Due: avoid-old-website-urls, avoid-old-names

Fallback if CAPI cluster is not found
  bin/update-ips.bash
  tests/unit/general/bin-update-ips-subnet.bats
Due: none

Check existance of cluster-index.yaml instead of listing clusters
  scripts/clean-sc.sh
  scripts/clean-wc.sh
Due: none

apps: gatekeeper policy to reject pods without controller
  config/common-config.yaml
  config/k8s-installers/capi/wc-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/gatekeeper/constraints/templates/reject-pod-without-controller/constraint.yaml
  helmfile.d/charts/gatekeeper/constraints/values.yaml
  helmfile.d/charts/gatekeeper/templates/policies/reject-pod-without-controller.rego
  helmfile.d/charts/gatekeeper/templates/policies/tests/reject-pod-without-controller.rego
  helmfile.d/charts/gatekeeper/templates/templates/reject-pod-without-controller/template.yaml
  helmfile.d/values/gatekeeper/constraints.yaml.gotmpl
Due: none

Fix: add label to cluster selector in nginx dashboard
  helmfile.d/charts/grafana-dashboards/dashboards/nginx-dashboard.json
Due: none

Fix: Update welcome dashboards
  helmfile.d/charts/grafana-dashboards/files/welcome.md
  helmfile.d/charts/opensearch/configurer/files/dashboards-resources/welcome.md
Due: avoid-old-website-urls, avoid-old-names

Fix: clean up migration docs
  migration/v0.44/README.md
  migration/v0.44/apply/20-gatekeeper-crds.sh
  migration/v0.44/apply/30-uninstall-falco-exporter.sh
  migration/v0.44/apply/40-migrate-gpu-operator-ns.sh
  migration/v0.44/apply/50-opensearch-backup.sh
Due: avoid-old-website-urls, avoid-old-names

Fix: update e2e tests
  tests/common/cypress/grafana.js
  tests/end-to-end/grafana/dashboards.cy.js
Due: generate-cypress-tests

Fix: expose image config for fluentd-forwarder
  changelog/0.44.md
  config/common-config.yaml
  config/schemas/config.yaml
  helmfile.d/values/fluentd/forwarder-common.yaml.gotmpl
  migration/v0.44/README.md
Due: avoid-old-website-urls, avoid-old-names

Fix: Add manual changelog entries
  changelog/0.44.md
Due: avoid-old-website-urls, avoid-old-names

Fix: backups dashboard incorrect off-site state with syncDefaultBuckets
  helmfile.d/values/grafana/grafana-dashboards.yaml.gotmpl
Due: none

Fix: re-add cluster selector and logs panel in falco dashboard
  helmfile.d/charts/grafana-dashboards/dashboards/falco-dashboard.json
Due: none

Fix: change default calico-accountant backend to nftables
  changelog/0.44.md
  config/common-config.yaml
  config/k8s-installers/capi/common-config.yaml
  config/k8s-installers/kubespray/common-config.yaml
  config/schemas/config.yaml
Due: avoid-old-website-urls, avoid-old-names

Fix: Upgrade OpenSearch and OpenSearch dashboards to v2.18
  helmfile.d/charts/opensearch/securityadmin/values.yaml
  helmfile.d/upstream/index.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/CHANGELOG.md
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/Chart.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/templates/deployment.yaml
  helmfile.d/upstream/opensearch-project/opensearch-dashboards/values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/CHANGELOG.md
  helmfile.d/upstream/opensearch-project/opensearch/Chart.yaml
  helmfile.d/upstream/opensearch-project/opensearch/README.md
  helmfile.d/upstream/opensearch-project/opensearch/ci/ci-ingress-class-name-values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/ci/ci-rbac-enabled-values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/ci/ci-values.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/serviceMonitor-secret.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/serviceMonitor.yaml
  helmfile.d/upstream/opensearch-project/opensearch/templates/statefulset.yaml
  helmfile.d/upstream/opensearch-project/opensearch/values.yaml
Due: avoid-old-website-urls, avoid-old-names

Fix: static htpasswd for kubeapi metrics
  bin/init.bash
  helmfile.d/charts/kubeapi-metrics/templates/secret-auth.yaml
  helmfile.d/charts/kubeapi-metrics/values.yaml
  helmfile.d/values/kubeapi-metrics.yaml.gotmpl
Due: none

Add changelog for release v0.44.0
  changelog/0.44.md
Due: avoid-old-website-urls, avoid-old-names

Path conditions:
  avoid-old-website-urls: any of: .*[.]md$
  avoid-old-names: any of: .*[.]md$, but not: ^changelog/0.43.md$
  generate-cypress-tests: any of: .*\.cy.js
  generate-template-tests: any of: .*\.bats.gotmpl
