Repository elastisys/compliantkubernetes-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-cypress-tests, generate-template-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
        exclude: ^helmfile.d/upstream/opensearch-project/opensearch/CHANGELOG.md$
      - id: check-json
        exclude: ^helmfile\.d/upstream/
      - id: check-toml
        exclude: ^helmfile\.d/upstream/
      - id: check-yaml
        exclude: ^helmfile\.d/.*/templates/|^helmfile\.d/upstream/|^helmfile\.d/state.yaml$
        args:
          - --allow-multiple-documents
      - id: detect-private-key
        exclude: ^helmfile\.d/upstream/
      - id: end-of-file-fixer
        exclude: ^helmfile\.d/upstream/|^tests/.*/.*\.out$
      - id: mixed-line-ending
        exclude: ^helmfile\.d/upstream/
      - id: no-commit-to-branch
      - id: trailing-whitespace
        exclude: ^helmfile\.d/upstream/|^tests/.*/.*\.out$

  - repo: local
    hooks:
      - id: generate-cypress-tests
        name: generate cypress tests
        language: script
        require_serial: true
        files: '.*\.cy.js'
        entry: tests/common/gen.bash
        args:
          - cypress

      - id: generate-template-tests
        name: generate template tests
        language: script
        require_serial: true
        files: '.*\.bats.gotmpl'
        entry: tests/common/gen.bash
        args:
          - template

      - id: shellcheck
        name: check scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        exclude: ^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/koalaman/shellcheck:v0.10.0@sha256:2097951f02e735b613f4a34de20c40f937a6c8f18ecb170612c88c34517221fb
          - --color=always
          - --external-sources

      - id: shfmt
        name: format scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        exclude: ^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/mvdan/shfmt:v3.10.0@sha256:d19cc37644449fe9a488f234d2c0cf0b770eaf6a5a40e30103e8099013ef8f9e
          - -w

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: check spelling
        exclude: ^helmfile\.d/charts/hnc/config-and-crds/crds/|^helmfile\.d/upstream/|^modules/.*/apis/definition.yaml
        args:
          - -I
          - .codespellignore

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.14.0
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^changelog/|^docs/sbom.md$|^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        args:
          - --fix

docs: Update path
  DEVELOPMENT.md
Due: none

scripts: Enable audit logging in local clusters
  scripts/local-clusters/profiles/audit-policy.yaml
  scripts/local-clusters/profiles/multi-node-cache.yaml
  scripts/local-clusters/profiles/multi-node.yaml
  scripts/local-clusters/profiles/single-node-cache.yaml
  scripts/local-clusters/profiles/single-node.yaml
Due: none

scripts: Add support for generating s3cfg for proxied minio
  scripts/S3/generate-s3cfg.sh
Due: none

tests: Fix e2e bats helper test_logs_contains
  tests/bats.lib.bash
Due: none

tests: Add log-manager e2e tests
  tests/bats.lib.bash
  tests/common/bats/object-storage.bash
  tests/end-to-end/fluentd/sc-logs.bats
  tests/end-to-end/log-manager/compaction-audit-sc.gen.bats
  tests/end-to-end/log-manager/compaction-audit-wc.gen.bats
  tests/end-to-end/log-manager/compaction-sc-logs.gen.bats
  tests/end-to-end/log-manager/compaction.bats.gotmpl
  tests/end-to-end/log-manager/compaction.gen.bats
  tests/end-to-end/log-manager/retention-audit-sc.gen.bats
  tests/end-to-end/log-manager/retention-audit-wc.gen.bats
  tests/end-to-end/log-manager/retention-sc-logs.gen.bats
  tests/end-to-end/log-manager/retention.bats.gotmpl
  tests/end-to-end/log-manager/retention.gen.bats
  tests/end-to-end/log-manager/setup_suite.bash
Due: generate-template-tests

tests: Add e2e tests for fluentd audit and SC logs
  tests/Dockerfile
  tests/bats.lib.bash
  tests/common/bats/object-storage.bash
  tests/end-to-end/fluentd/audit-sc.gen.bats
  tests/end-to-end/fluentd/audit-wc.gen.bats
  tests/end-to-end/fluentd/audit.bats.gotmpl
  tests/end-to-end/fluentd/audit.gen.bats
  tests/end-to-end/fluentd/sc-logs.bats
Due: generate-template-tests

apps: Fix log-manager to not fail when there are empty dirs
  helmfile.d/charts/log-manager/files/compaction.sh
  helmfile.d/charts/log-manager/files/retention.sh
Due: none

apps sc: added networkpolicy dashboard for cilium
  helmfile.d/charts/grafana-dashboards/dashboards/cilium-networkpolicy-dashboard.json
  helmfile.d/values/grafana/grafana-dashboards.yaml.gotmpl
Due: none

netpol: allow coredns egress to other coredns pods
  helmfile.d/charts/networkpolicy/common/templates/coredns/allow-coredns.yaml
Due: none

Netpol: allow CoreDNS egress to other CoreDNS pods (#2665)
  helmfile.d/charts/networkpolicy/common/templates/coredns/allow-coredns.yaml
Due: none

tests: install and configure eslint
  tests/eslint.config.js
  tests/package-lock.json
  tests/package.json
  tests/tsconfig.json
Due: none

tests: rename support.d.ts to index.d.ts to avoid arcane tseslint errors
  tests/common/cypress/index.d.ts
Due: none

eslint baby
  tests/common/cypress/grafana.js
  tests/common/cypress/harbor.js
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
  tests/cypress.config.js
  tests/end-to-end/alertmanager/expected-alerts.cy.js
  tests/end-to-end/grafana/admin-promotion-ops.cy.js
  tests/end-to-end/grafana/datasources.cy.js
  tests/end-to-end/harbor/use-ui.cy.js
  tests/end-to-end/netpol/netpol.cy.js
  tests/end-to-end/opensearch/dashboards.cy.js
  tests/integration/harbor/use-ui.cy.js
Due: generate-cypress-tests

tests: implement 'retryRequest' facility
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
Due: none

rewrite falco tests to use retries
  tests/end-to-end/falco/alerts.cy.js
Due: generate-cypress-tests

tests: falco nits
  tests/cypress/fixtures/falco-event-generator-actions.json
  tests/end-to-end/falco/logs.cy.js
  tests/end-to-end/falco/setup_suite.bash
Due: generate-cypress-tests

wire eslint into pre-commit
  .pre-commit-config.yaml
  tests/common/check-js.bash
Due: none

check-js: run both checks and accumulate errors
  tests/common/check-js.bash
Due: none

added changes for velero
  config/schemas/secrets.yaml
  config/secrets.yaml
  helmfile.d/values/fluentd/aggregator-common.yaml.gotmpl
  helmfile.d/values/fluentd/log-manager.yaml.gotmpl
  helmfile.d/values/opensearch/secrets.yaml.gotmpl
  helmfile.d/values/thanos/objectstorage-secret.yaml.gotmpl
  helmfile.d/values/velero/sc.yaml.gotmpl
  helmfile.d/values/velero/wc.yaml.gotmpl
Due: none

fixed test and lint issues
  config/schemas/secrets.yaml
  config/secrets.yaml
Due: none

docs: Fix dot in command example
  DEVELOPMENT.md
Due: none

re-enable ERREXIT, but guard the code block where we don't want it
  tests/common/check-js.bash
Due: none

cypress: replace resolve(-1) with resolve(true)
  tests/common/cypress/support.js
  tests/cypress.config.js
Due: none

use cy.then to directly call clearAllSavedSessions
  tests/end-to-end/grafana/admin-promotion-ops.cy.js
Due: generate-cypress-tests

Add eslint for JS tests (#2657)
  .pre-commit-config.yaml
  tests/common/check-js.bash
  tests/common/cypress/grafana.js
  tests/common/cypress/harbor.js
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
  tests/cypress.config.js
  tests/cypress/fixtures/falco-event-generator-actions.json
  tests/end-to-end/alertmanager/expected-alerts.cy.js
  tests/end-to-end/falco/alerts.cy.js
  tests/end-to-end/falco/logs.cy.js
  tests/end-to-end/falco/setup_suite.bash
  tests/end-to-end/grafana/admin-promotion-ops.cy.js
  tests/end-to-end/grafana/datasources.cy.js
  tests/end-to-end/harbor/use-ui.cy.js
  tests/end-to-end/netpol/netpol.cy.js
  tests/end-to-end/opensearch/dashboards.cy.js
  tests/eslint.config.js
  tests/integration/harbor/use-ui.cy.js
  tests/package-lock.json
  tests/package.json
  tests/tsconfig.json
Due: generate-cypress-tests

apps: make namespace label in metric refer to resource, not exporter
  helmfile.d/charts/calico-accountant/templates/service.yaml
  helmfile.d/charts/grafana-dashboards/dashboards/cert-manager-mixin/cert-manager-dashboard.json
  helmfile.d/charts/grafana-dashboards/dashboards/nginx-dashboard.json
  helmfile.d/charts/tekton-pipelines/templates/controller/service-monitor.yaml
  helmfile.d/values/cert-manager.yaml.gotmpl
  helmfile.d/values/ingress-nginx.yaml.gotmpl
Due: none

fix: use CommonJS file for cypress config
  tests/cypress.config.cjs
  tests/eslint.config.js
  tests/tsconfig.json
Due: none

Fix integration test runs (#2668)
  tests/cypress.config.cjs
  tests/eslint.config.js
  tests/tsconfig.json
Due: none

bin: Do not block apply when version set to 'any' or git commit
  bin/common.bash
Due: none

fix: remove extra fragments from MPU cleaner image
  helmfile.d/lists/images.yaml
Due: none

scripts: added backup and restore script for QA
  scripts/backup-restore.sh
Due: none

Remove extra fragments from MPU cleaner image (#2671)
  helmfile.d/lists/images.yaml
Due: none

scripts: pre-commit fix
  scripts/backup-restore.sh
Due: none

tests: Update common namespace helper functions and use them in falco tests
  tests/bats.lib.bash
  tests/end-to-end/falco/setup_suite.bash
Due: none
