Repository elastisys/compliantkubernetes-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-cypress-tests, generate-template-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
        exclude: ^helmfile.d/upstream/opensearch-project/opensearch/CHANGELOG.md$
      - id: check-json
        exclude: ^helmfile\.d/upstream/
      - id: check-toml
        exclude: ^helmfile\.d/upstream/
      - id: check-yaml
        exclude: ^helmfile\.d/.*/templates/|^helmfile\.d/upstream/|^helmfile\.d/state.yaml$
        args:
          - --allow-multiple-documents
      - id: detect-private-key
        exclude: ^helmfile\.d/upstream/
      - id: end-of-file-fixer
        exclude: ^helmfile\.d/upstream/|^tests/.*/.*\.out$
      - id: mixed-line-ending
        exclude: ^helmfile\.d/upstream/
      - id: no-commit-to-branch
      - id: trailing-whitespace
        exclude: ^helmfile\.d/upstream/|^tests/.*/.*\.out$

  - repo: local
    hooks:
      - id: generate-cypress-tests
        name: generate cypress tests
        language: script
        require_serial: true
        files: '.*\.cy.js'
        entry: tests/common/gen.bash
        args:
          - cypress

      - id: generate-template-tests
        name: generate template tests
        language: script
        require_serial: true
        files: '.*\.bats.gotmpl'
        entry: tests/common/gen.bash
        args:
          - template

      - id: shellcheck
        name: check scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        exclude: ^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/koalaman/shellcheck:v0.10.0@sha256:2097951f02e735b613f4a34de20c40f937a6c8f18ecb170612c88c34517221fb
          - --color=always
          - --external-sources

      - id: shfmt
        name: format scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        exclude: ^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/mvdan/shfmt:v3.10.0@sha256:d19cc37644449fe9a488f234d2c0cf0b770eaf6a5a40e30103e8099013ef8f9e
          - -w

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: check spelling
        exclude: ^helmfile\.d/charts/hnc/config-and-crds/crds/|^helmfile\.d/upstream/|^modules/.*/apis/definition.yaml
        args:
          - -I
          - .codespellignore

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.14.0
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^changelog/|^docs/sbom.md$|^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        args:
          - --fix

scripts: fixed cleanup for clone
  scripts/backup-restore.sh
Due: none

scripts: added backup and restore script for QA
  scripts/backup-restore.sh
Due: none

docs: Add note on using same config with new names
  restore/rclone/README.md
Due: none

fix: use standard unixy dir for the socat socket
  scripts/run-from-container.sh
  tests/common/exec.bash
Due: none

fix: use standard unixy dir for the socat socket (#2689)
  scripts/run-from-container.sh
  tests/common/exec.bash
Due: none

test(grafana): use '.then' instead of '.should'
  tests/common/cypress/support.js
  tests/end-to-end/grafana/admin-promotion-ops.cy.js
  tests/end-to-end/grafana/admin-promotion-user.cy.js
  tests/end-to-end/grafana/dashboards-admin.cy.js
  tests/end-to-end/grafana/dashboards-dev.cy.js
  tests/end-to-end/grafana/datasources.cy.js
Due: generate-cypress-tests

test(grafana): simplify promotion flow tests
  tests/common/cypress/grafana.js
  tests/end-to-end/grafana/admin-promotion-ops.cy.js
  tests/end-to-end/grafana/admin-promotion-ops.gen.bats
  tests/end-to-end/grafana/admin-promotion-user.cy.js
  tests/end-to-end/grafana/admin-promotion-user.gen.bats
Due: generate-cypress-tests

test(grafana): allow missing data in non-400/500 nginx panel
  helmfile.d/charts/grafana-dashboards/dashboards/nginx-dashboard.json
Due: none

test: replace fat arrow fns with fn objects
  tests/end-to-end/grafana/dashboards-dev.cy.js
  tests/end-to-end/grafana/datasources.cy.js
  tests/end-to-end/harbor/use-ui.cy.js
  tests/end-to-end/opensearch/dashboards.cy.js
  tests/integration/harbor/use-ui.cy.js
Due: generate-cypress-tests

test(log-manager): increase timeouts
  tests/end-to-end/log-manager/compaction-audit-sc.gen.bats
  tests/end-to-end/log-manager/compaction-audit-wc.gen.bats
  tests/end-to-end/log-manager/compaction-sc-logs.gen.bats
  tests/end-to-end/log-manager/compaction.bats.gotmpl
  tests/end-to-end/log-manager/retention-audit-sc.gen.bats
  tests/end-to-end/log-manager/retention-audit-wc.gen.bats
  tests/end-to-end/log-manager/retention-sc-logs.gen.bats
  tests/end-to-end/log-manager/retention.bats.gotmpl
Due: generate-template-tests

test(log-manager): rework setup to avoid packet drops
  tests/end-to-end/log-manager/resources/calico-allow-all.yaml
  tests/end-to-end/log-manager/setup_suite.bash
Due: none

test: retry on network failure
  tests/end-to-end/kubernetes/authentication-admin.cy.js
  tests/end-to-end/kubernetes/authentication-dev.cy.js
Due: generate-cypress-tests

test: actually abort if 'socat' is missing
  tests/common/exec.bash
Due: none

test(cypress): make 'body' optional in retryRequest
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
  tests/end-to-end/opensearch/dashboards.cy.js
Due: generate-cypress-tests

test: silence git helper when not in a repo
  tests/common/git.bash
Due: none

test(netpol): rework netpol tests to not depend on server time
  tests/end-to-end/netpol/netpol.cy.js
Due: generate-cypress-tests

test(netpol): reduce aggregation window to 5 minutes
  tests/end-to-end/netpol/netpol.cy.js
Due: generate-cypress-tests

test(netpol): retry accept metric query to account for disabled prometheus
  tests/end-to-end/netpol/netpol.cy.js
Due: generate-cypress-tests

test(alertmanager): account for freshly installed thanos + greedy harbor-trivy
  tests/end-to-end/alertmanager/expected-alerts.cy.js
Due: generate-cypress-tests

bin: Wait for harbor init job to complete after restore
  bin/harbor-restore.sh
Due: none

other: Updated kubectl version
  REQUIREMENTS
  tests/Dockerfile
Due: none

test(log-manager): favor readability, remove kctl
  tests/end-to-end/log-manager/setup_suite.bash
Due: none

test(log-manager): improve comments
  tests/end-to-end/log-manager/setup_suite.bash
Due: none

test(log-manager): delete ongoing jobs during setup
  tests/bats.lib.bash
  tests/end-to-end/log-manager/compaction-audit-sc.gen.bats
  tests/end-to-end/log-manager/compaction-audit-wc.gen.bats
  tests/end-to-end/log-manager/compaction-sc-logs.gen.bats
  tests/end-to-end/log-manager/compaction.bats.gotmpl
  tests/end-to-end/log-manager/retention-audit-sc.gen.bats
  tests/end-to-end/log-manager/retention-audit-wc.gen.bats
  tests/end-to-end/log-manager/retention-sc-logs.gen.bats
  tests/end-to-end/log-manager/retention.bats.gotmpl
Due: generate-template-tests

bin: Shorter wait, imporved logging and suggest inspecting per review feedback
  bin/harbor-restore.sh
Due: none

Improve Log Manager E2E suite (#2692)
  tests/bats.lib.bash
  tests/end-to-end/log-manager/compaction-audit-sc.gen.bats
  tests/end-to-end/log-manager/compaction-audit-wc.gen.bats
  tests/end-to-end/log-manager/compaction-sc-logs.gen.bats
  tests/end-to-end/log-manager/compaction.bats.gotmpl
  tests/end-to-end/log-manager/resources/calico-allow-all.yaml
  tests/end-to-end/log-manager/retention-audit-sc.gen.bats
  tests/end-to-end/log-manager/retention-audit-wc.gen.bats
  tests/end-to-end/log-manager/retention-sc-logs.gen.bats
  tests/end-to-end/log-manager/retention.bats.gotmpl
  tests/end-to-end/log-manager/setup_suite.bash
Due: generate-template-tests

apps: mirror kubectl bitnami image
  helmfile.d/lists/images.yaml
Due: none

bin: Ignore already missing Harbor init job when deleting it
  bin/harbor-restore.sh
Due: none

Improve Alertmanager E2E suite (#2695)
  tests/end-to-end/alertmanager/expected-alerts.cy.js
Due: generate-cypress-tests

bin: Re-run Harbor init job after restore from backup
  bin/harbor-restore.sh
  helmfile.d/charts/harbor/harbor-backup/scripts/harbor-backup.sh
  restore/harbor/README.md
  restore/harbor/restore-harbor.sh
Due: none

bin: Add missing help text in dashbord update script
  scripts/grafana-dashboards/Makefile
Due: none
