Repository elastisys/compliantkubernetes-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-cypress-tests, generate-template-tests

generate-cypress-tests:
  name: generate cypress tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - cypress

generate-template-tests:
  name: generate template tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - template

tests: Update common namespace helper functions and use them in falco tests
  tests/bats.lib.bash
  tests/end-to-end/falco/setup_suite.bash
Due: none

manage kube proxy through bats
  scripts/kubeproxy-wrapper.sh
  tests/common/bats/proxy.bash
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
  tests/cypress.config.cjs
  tests/end-to-end/alertmanager/expected-alerts.cy.js
  tests/end-to-end/alertmanager/setup_suite.bash
  tests/end-to-end/alertmanager/via-proxy.cy.js
  tests/end-to-end/alertmanager/via-proxy.gen.bats
  tests/end-to-end/falco/alerts.cy.js
  tests/end-to-end/falco/setup_suite.bash
  tests/end-to-end/netpol/netpol.cy.js
  tests/end-to-end/netpol/setup_suite.bash
  tests/end-to-end/prometheus/setup_suite.bash
  tests/end-to-end/prometheus/via-proxy.cy.js
Due: generate-cypress-tests

remove cluster argument from harbor secret handling fns
  tests/common/bats/harbor.bash
  tests/end-to-end/velero/user-app.bats
Due: none

make 'no dirty config dir' a global preflight check for e2e
  tests/common/exec.bash
  tests/common/git.bash
  tests/end-to-end/general/idempotent-helmfile-apply.bats
Due: none

get rid of double apply in idempotency test
  tests/end-to-end/general/idempotent-helmfile-apply.bats
Due: none

tests: opensearch - catch a random react error
  tests/end-to-end/opensearch/dashboards.cy.js
Due: generate-cypress-tests

tests: opensearch - test snapshot presence thru API, with retries
  tests/end-to-end/opensearch/dashboards.cy.js
Due: generate-cypress-tests

tests: velero - use set operations for excluded namespaces
  tests/end-to-end/velero/backup-restore-sc.gen.bats
  tests/end-to-end/velero/backup-restore-wc.gen.bats
  tests/end-to-end/velero/backup-restore.bats.gotmpl
  tests/end-to-end/velero/common.bash
  tests/end-to-end/velero/resources/backup-spec-wc.yaml
Due: generate-template-tests

velero: add usage for all common functions
  tests/end-to-end/velero/common.bash
Due: none

migration nits
  migration/v0.49/apply/10-velero-crds.sh
  migration/v0.49/apply/80-apply.sh
Due: none

bin: Do not block apply when version set to 'any' or git commit
  bin/common.bash
Due: none

added volume mount error alert
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-storage.yaml
Due: none

nit: quote entire strings instead of individual vars
  tests/common/bats/proxy.bash
Due: none

enable snapshots
  config/common-config.yaml
  tests/end-to-end/velero/resources/backup-spec-sc.yaml
  tests/end-to-end/velero/resources/backup-spec-wc.yaml
Due: none

remove csi plugin and update rest
  helmfile.d/values/velero/sc.yaml.gotmpl
  helmfile.d/values/velero/wc.yaml.gotmpl
Due: none

add mutation for new maintenance job
  helmfile.d/values/podsecuritypolicies/common/velero.yaml.gotmpl
Due: none

add netpol for new maintenance job
  helmfile.d/charts/networkpolicy/common/templates/velero/maintenance-job.yaml
  helmfile.d/charts/networkpolicy/common/values.yaml
  helmfile.d/values/networkpolicy/common.yaml.gotmpl
Due: none

API-based opensearch snapshot check (#2675)
  tests/end-to-end/opensearch/dashboards.cy.js
Due: generate-cypress-tests

chore: improve markup on security policy
  SECURITY.md
Due: none

nit: use more verbose naming for velero helpers
  tests/end-to-end/velero/backup-restore-sc.gen.bats
  tests/end-to-end/velero/backup-restore-wc.gen.bats
  tests/end-to-end/velero/backup-restore.bats.gotmpl
  tests/end-to-end/velero/common.bash
Due: generate-template-tests

apps: add fluentd client error metric and alert
  helmfile.d/charts/prometheus-alerts/templates/alerts/fluentd.yaml
  helmfile.d/values/fluentd/forwarder-common.yaml.gotmpl
  helmfile.d/values/prometheus-alerts-runbook-urls.yaml.gotmpl
Due: none

feat: start proxy on random port and pass it to Cypress via env var
  tests/common/bats/proxy.bash
  tests/end-to-end/alertmanager/expected-alerts.cy.js
  tests/end-to-end/falco/alerts.cy.js
  tests/end-to-end/netpol/netpol.cy.js
  tests/end-to-end/prometheus/via-proxy.cy.js
Due: generate-cypress-tests

nit: const instead of let
  tests/end-to-end/netpol/netpol.cy.js
Due: generate-cypress-tests

apps: chmod +x retention.sh in log-manager chart
  helmfile.d/charts/log-manager/files/retention.sh
Due: none

apps: Fix log-manager to not fail when there are empty dirs
  helmfile.d/charts/log-manager/files/compaction.sh
  helmfile.d/charts/log-manager/files/retention.sh
Due: none

draft
  config/schemas/config.yaml
  config/wc-config.yaml
  helmfile.d/stacks/rbac.yaml.gotmpl
  helmfile.d/values/userCRDs/jaeger/jaeger.yaml.gotmpl
  helmfile.d/values/userCRDs/userCRDs.yaml.gotmpl
Due: none

Test suite love (pt. 1) (#2673)
  scripts/kubeproxy-wrapper.sh
  tests/common/bats/harbor.bash
  tests/common/bats/proxy.bash
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
  tests/common/exec.bash
  tests/common/git.bash
  tests/cypress.config.cjs
  tests/end-to-end/alertmanager/expected-alerts.cy.js
  tests/end-to-end/alertmanager/setup_suite.bash
  tests/end-to-end/alertmanager/via-proxy.cy.js
  tests/end-to-end/alertmanager/via-proxy.gen.bats
  tests/end-to-end/falco/alerts.cy.js
  tests/end-to-end/falco/setup_suite.bash
  tests/end-to-end/general/idempotent-helmfile-apply.bats
  tests/end-to-end/netpol/netpol.cy.js
  tests/end-to-end/netpol/setup_suite.bash
  tests/end-to-end/prometheus/setup_suite.bash
  tests/end-to-end/prometheus/via-proxy.cy.js
  tests/end-to-end/velero/user-app.bats
Due: generate-cypress-tests

Velero: set assertions for excluded namespaces (#2676)
  tests/end-to-end/velero/backup-restore-sc.gen.bats
  tests/end-to-end/velero/backup-restore-wc.gen.bats
  tests/end-to-end/velero/backup-restore.bats.gotmpl
  tests/end-to-end/velero/common.bash
  tests/end-to-end/velero/resources/backup-spec-wc.yaml
Due: generate-template-tests

chore: add short encryption guide to security policy
  SECURITY.md
Due: none

Improve security policy (#2674)
  SECURITY.md
Due: none

bin: Improve wording in Harbor backup and restore scripts
  helmfile.d/charts/harbor/harbor-backup/scripts/harbor-backup.sh
  restore/harbor/restore-harbor.sh
Due: none

docs: Describe fix for Harbor OIDC issue on restore
  restore/harbor/README.md
Due: none

bin: Point at re-running harbor init after restore if needed
  bin/harbor-restore.sh
Due: none

bin: Re-run Harbor init job after restore from backup
  bin/harbor-restore.sh
Due: none

scripts: Enable audit logging in local clusters
  scripts/local-clusters/profiles/audit-policy.yaml
  scripts/local-clusters/profiles/multi-node-cache.yaml
  scripts/local-clusters/profiles/multi-node.yaml
  scripts/local-clusters/profiles/single-node-cache.yaml
  scripts/local-clusters/profiles/single-node.yaml
Due: none

Added group label
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-storage.yaml
Due: none

apps: Added alert to notice failed volume mount (#2677)
  helmfile.d/charts/prometheus-alerts/templates/alerts/kubernetes-storage.yaml
Due: none

Path conditions:
  generate-cypress-tests: any of: .*\.cy.js
  generate-template-tests: any of: .*\.bats.gotmpl
