Repository elastisys/compliantkubernetes-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-cypress-tests, generate-template-tests

generate-cypress-tests:
  name: generate cypress tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - cypress

generate-template-tests:
  name: generate template tests
  language: script
  require_serial: true
  entry: tests/common/gen.bash
  args:
  - template

config: increase gatekeeper default memory limits (#2629)
  config/common-config.yaml
Due: none

tests: extract grafana dev user into const
  tests/end-to-end/grafana/admin-promotion-user.cy.js
Due: generate-cypress-tests

Add support for accessing Service Cluster components through kube proxy in Cypress tests (#2639)
  scripts/kubeproxy-wrapper.sh
  tests/common/cypress/support.d.ts
  tests/common/cypress/support.js
  tests/cypress.config.js
  tests/end-to-end/alertmanager/via-proxy.cy.js
  tests/end-to-end/alertmanager/via-proxy.gen.bats
  tests/end-to-end/kubernetes/authentication-admin.cy.js
  tests/end-to-end/kubernetes/authentication-dev.cy.js
  tests/end-to-end/prometheus/via-proxy.cy.js
  tests/end-to-end/prometheus/via-proxy.gen.bats
  tests/tsconfig.json
Due: generate-cypress-tests

fix(grafana/tests): do a static user pre-login before demotion/promotion
  tests/end-to-end/grafana/admin-promotion-ops.cy.js
  tests/end-to-end/grafana/admin-promotion-user.cy.js
Due: generate-cypress-tests

sc: Allow ingress traffic from apiserver to alertmanager/prometheus for kube proxy
  helmfile.d/values/networkpolicies/common/prometheus.yaml.gotmpl
  helmfile.d/values/networkpolicies/service/alertmanager.yaml.gotmpl
Due: none

Add E2E tests for packets handled by network policies (#2627)
  tests/end-to-end/netpol/netpol.cy.js
  tests/end-to-end/netpol/netpol.gen.bats
Due: generate-cypress-tests

requirements: Bump Helm to 3.18.4
  REQUIREMENTS
  tests/Dockerfile
Due: none

Stop ignoring results of apps status tests (#2646)
  bin/test.bash
  pipeline/test/services/service-cluster/testHarbor.sh
  pipeline/test/services/service-cluster/testPodsReady.sh
  pipeline/test/services/test-sc.sh
  pipeline/test/services/workload-cluster/testEndpoints.sh
  pipeline/test/services/workload-cluster/testPodsReady.sh
  tests/common/cypress/support.js
Due: none

Add changelog for release v0.48.0
  changelog/0.48.md
Due: none

fix: change to alertmanager api v2 in falcosidekick
  helmfile.d/values/falco/falco-workload-cluster.yaml.gotmpl
Due: none

fix: add changelog entry
  changelog/0.48.md
Due: none

fix: increase default grafana resources
  config/sc-config.yaml
Due: none

Update Welcome dashboards
  helmfile.d/charts/grafana-dashboards/files/welcome.md
  helmfile.d/charts/opensearch/configurer/files/dashboards-resources/welcome.md
Due: none

fix: update changelog
  changelog/0.48.md
Due: none

add command to set resource group/storage account on azure (#2584)
  scripts/azure/storage-manager.sh
Due: none

Add E2E tests for expected alertmanager alerts (#2624)
  tests/end-to-end/alertmanager/expected-alerts.cy.js
  tests/end-to-end/alertmanager/expected-alerts.gen.bats
  tests/tsconfig.json
Due: generate-cypress-tests

qa: Add OpenSearch end-to-end tests (#2648)
  helmfile.d/values/opensearch/securityadmin.yaml.gotmpl
  tests/common/cypress/opensearch.js
  tests/common/cypress/support.d.ts
  tests/end-to-end/grafana/datasources.cy.js
  tests/end-to-end/opensearch/authentication.cy.js
  tests/end-to-end/opensearch/check-jobs.bats
  tests/end-to-end/opensearch/dashboards.cy.js
  tests/end-to-end/opensearch/dashboards.gen.bats
Due: generate-cypress-tests

tests: Add check_node_label unit test
  tests/unit/general/bin-common.bats
Due: none

Add condition for s3 only install
  helmfile.d/stacks/harbor.yaml.gotmpl
Due: none

qa: Add falco end-to-end tests
  tests/cypress.config.js
  tests/cypress/fixtures/falco-event-generator-actions.json
  tests/end-to-end/falco/alerts.cy.js
  tests/end-to-end/falco/alerts.gen.bats
  tests/end-to-end/falco/logs.cy.js
  tests/end-to-end/falco/logs.gen.bats
  tests/end-to-end/falco/setup_suite.bash
Due: generate-cypress-tests

Add image to list
  helmfile.d/lists/images.yaml
Due: none

Typo
  config/schemas/config.yaml
Due: none

Remove gcs and azure config options
  helmfile.d/charts/harbor/harbor-mpu-cleaner/templates/harbor-mpu-cleaner-job.yaml
  helmfile.d/charts/harbor/harbor-mpu-cleaner/templates/harbor-mpu-cleaner-secret.yaml
  helmfile.d/charts/harbor/harbor-mpu-cleaner/values.yaml
  helmfile.d/values/harbor/harbor-mpu-cleaner.yaml.gotmpl
Due: none

Add new image to test suite
  helmfile.d/lists/images.yaml
  tests/unit/general/images.bats
  tests/unit/general/resources/images-parametric-tests.json
Due: none

Reliable socat popups for localhost:8000 during end-to-end-test runs (#2647)
  .gitignore
  REQUIREMENTS
  roles/get-requirements.yaml
  scripts/run-from-container.sh
  tests/Dockerfile
  tests/Makefile
  tests/bats.lib.bash
  tests/common/cypress/support.js
  tests/common/exec.bash
  tests/end-to-end/.bin/x-www-browser
  tests/end-to-end/general/bin-diagnostics.bats
  tests/end-to-end/grafana/dashboards-discovery.bats
  tests/end-to-end/hnc/test-hnc.bats
  tests/end-to-end/kubernetes/bin-access.bats
  tests/end-to-end/opa-gatekeeper/policies.bats
  tests/package-lock.json
  tests/package.json
Due: none

tests: install and configure eslint
  tests/eslint.config.js
  tests/package-lock.json
  tests/package.json
  tests/tsconfig.json
Due: none

tests: rename support.d.ts to index.d.ts to avoid arcane tseslint errors
  tests/common/cypress/index.d.ts
Due: none

eslint baby
  tests/common/cypress/grafana.js
  tests/common/cypress/harbor.js
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
  tests/cypress.config.js
  tests/end-to-end/alertmanager/expected-alerts.cy.js
  tests/end-to-end/grafana/admin-promotion-ops.cy.js
  tests/end-to-end/grafana/datasources.cy.js
  tests/end-to-end/harbor/use-ui.cy.js
  tests/end-to-end/netpol/netpol.cy.js
  tests/end-to-end/opensearch/dashboards.cy.js
  tests/integration/harbor/use-ui.cy.js
Due: generate-cypress-tests

tests: implement 'retryRequest' facility
  tests/common/cypress/index.d.ts
  tests/common/cypress/support.js
Due: none

rewrite falco tests to use retries
  tests/end-to-end/falco/alerts.cy.js
Due: generate-cypress-tests

tests: falco nits
  tests/cypress/fixtures/falco-event-generator-actions.json
  tests/end-to-end/falco/logs.cy.js
  tests/end-to-end/falco/setup_suite.bash
Due: generate-cypress-tests

wire eslint into pre-commit
  .pre-commit-config.yaml
  tests/common/check-js.bash
Due: none

check-js: run both checks and accumulate errors
  tests/common/check-js.bash
Due: none

Adding files for new multipartUpload cleaner job
  config/sc-config.yaml
  config/schemas/config.yaml
  helmfile.d/charts/harbor/harbor-mpu-cleaner/Chart.yaml
  helmfile.d/charts/harbor/harbor-mpu-cleaner/README.md
  helmfile.d/charts/harbor/harbor-mpu-cleaner/scripts/mpu-tool.py
  helmfile.d/charts/harbor/harbor-mpu-cleaner/templates/harbor-mpu-cleaner-cm.yaml
  helmfile.d/charts/harbor/harbor-mpu-cleaner/templates/harbor-mpu-cleaner-job.yaml
  helmfile.d/charts/harbor/harbor-mpu-cleaner/templates/harbor-mpu-cleaner-secret.yaml
  helmfile.d/charts/harbor/harbor-mpu-cleaner/values.yaml
  helmfile.d/lists/images.yaml
  helmfile.d/stacks/harbor.yaml.gotmpl
  helmfile.d/state.yaml.gotmpl
  helmfile.d/values/harbor/harbor-mpu-cleaner.yaml.gotmpl
  helmfile.d/values/networkpolicies/service/harbor.yaml.gotmpl
  images/python-boto3/Dockerfile
  tests/unit/general/images.bats
  tests/unit/general/resources/images-parametric-tests.json
Due: none

docs: Update path
  DEVELOPMENT.md
Due: none

tests: Add e2e tests for fluentd audit and SC logs
  tests/Dockerfile
  tests/bats.lib.bash
  tests/common/bats/object-storage.bash
  tests/end-to-end/fluentd/audit-sc.gen.bats
  tests/end-to-end/fluentd/audit-wc.gen.bats
  tests/end-to-end/fluentd/audit.bats.gotmpl
  tests/end-to-end/fluentd/audit.gen.bats
  tests/end-to-end/fluentd/sc-logs.bats
Due: generate-template-tests

tests: Add log-manager e2e tests
  tests/bats.lib.bash
  tests/common/bats/object-storage.bash
  tests/end-to-end/fluentd/sc-logs.bats
  tests/end-to-end/log-manager/compaction-audit-sc.gen.bats
  tests/end-to-end/log-manager/compaction-audit-wc.gen.bats
  tests/end-to-end/log-manager/compaction-sc-logs.gen.bats
  tests/end-to-end/log-manager/compaction.bats.gotmpl
  tests/end-to-end/log-manager/compaction.gen.bats
  tests/end-to-end/log-manager/retention-audit-sc.gen.bats
  tests/end-to-end/log-manager/retention-audit-wc.gen.bats
  tests/end-to-end/log-manager/retention-sc-logs.gen.bats
  tests/end-to-end/log-manager/retention.bats.gotmpl
  tests/end-to-end/log-manager/retention.gen.bats
  tests/end-to-end/log-manager/setup_suite.bash
Due: generate-template-tests

apps: chmod +x retention.sh in log-manager chart
  helmfile.d/charts/log-manager/files/retention.sh
Due: none

Path conditions:
  generate-cypress-tests: any of: .*\.cy.js
  generate-template-tests: any of: .*\.bats.gotmpl
